<div class="carousel">
  <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/c1.jpg" class="d-block w-100 carousel-image" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Subasta de Autos Clásicos</h5>
            <p>Explora ofertas exclusivas en vehículos de alta gama.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/c2.jpg" class="d-block w-100 carousel-image" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Oportunidades Únicas</h5>
            <p>Participa en nuestra subasta de autos clásicos y hazte con una joya del pasado.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/c3.jpg" class="d-block w-100 carousel-image" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Modelo 2022</h5>
            <p>Descubre el último modelo de automóvil en nuestra subasta.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>

<section class="featured-auctions">
<h2>Subastas Destacadas</h2>
<div class="auction-list">
  <!-- Inmueble 1 -->
  <div class="auction-item"  >
    <img src="../../../assets/imagen1.jpg" alt="Inmueble 1">

    <h3>Casa</h3>
    <p>Ubicación: Quito, Ecuador</p>
    <p>Tamaño: 400 m²</p>
    <p>Tipo: Casa</p>
    <p>Precio Inicial: $50.000</p>
    <a href="/detalle-subasta-1">Participar en la Subasta</a>
  </div>

  <!-- Inmueble 2 -->
  <div class="auction-item"  >
    <img src="../../../assets/imagen2.jpg" alt="Inmueble 2">
    <h3>Chevrolet Suburban</h3>
    <p>Ubicación: Cuenca, Ecuador</p>
    <p>Año: 2021</p>
    <p>Tipo: Auto</p>
    <p>Precio Inicial: $60.000</p>
    <a href="/detalle-subasta-1">Participar en la Subasta</a>
  </div>
  <!-- Inmueble 3-->
    <div class="auction-item"  >
      <img src="../../../assets/imagen3.jpg" alt="Inmueble 3">
      <h3>KTM Enduro 2017</h3>
      <p>Ubicación: Guayaquil, Ecuador</p>
      <p>Año: 2017</p>
      <p>Tipo: Motocicleta</p>
      <p>Precio Inicial: $3.000</p>
      <a href="/detalle-subasta-1">Participar en la Subasta</a>
    </div>
  </div>
</section>
<section class="recently-closed-auctions">
<h2>Últimas Subastas Exitosas</h2>
<ul class="auction-list">
  <li>
    <p>Nombre del Inmueble: Nissan</p>
    <p>Precio Final: $40.000</p>
  </li>
  <li>
    <p>Nombre del Inmueble: Departamento</p>
    <p>Precio Final: $60.000</p>
  </li>
</ul>
</section>
<section class="market-trends">
<h2>Estadísticas del Mercado</h2>
<p>Precio Promedio: $50.000</p>
<p>Áreas Populares: Guayaquil, Quito, Cuenca</p>
<p>Otras estadísticas relevantes...</p>
</section>
<section class="call-to-action">
<h2>Descubre tu Próxima Propiedad</h2>
<p>Regístrate ahora para participar en nuestras subastas y encontrar la propiedad de tus sueños.</p>
<a href="/registro" class="cta-button">Regístrate</a>
</section>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="social-links">
      <a href="#" target="_blank" rel="noopener noreferrer">Facebook</a>
      <a href="#" target="_blank" rel="noopener noreferrer">Twitter</a>
      <a href="#" target="_blank" rel="noopener noreferrer">Instagram</a>
    </div>
    <p>&copy; 2024 Tu Empresa. Todos los derechos reservados.</p>
  </div>
</footer>
